@namespace AntDesign.Internal
@inherits AntDomComponentBase

<div class="@ClassMapper.Class" style="@(!ShowButton?"display:none;":"")">
    <span tabindex="0" class="ant-upload @(Dragger?"ant-upload-btn":"")" @ref="_btn" data-fileid="@_fileId" role="button" @attributes="_attributes" >
        <input type="file" webkitdirectory="@Directory" multiple="@(Multiple || Directory)" @ref="_file" @onchange="FileNameChanged" accept="@Accept" style="display: none;" id="@_fileId" />
        @if (Dragger)
        {
            <div class="ant-upload-drag-container">
                @ChildContent
            </div>
        }
        else
        {
            @ChildContent
        }
    </span>
</div>